.StartPage {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  @at-root body {
    background-image: url("../../../public/img/index-bg.jpg");
    background-size: cover;
    background-color: #E6ECF0;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0, 0.8);
      z-index: -1;
    }
  }

  &_title {
    margin-top: 10px;

    font-size: 26px;
    font-weight: bold;
    color: #fff;
  }

  &_braces-logo {
    color: #e3405f;
    font-weight: 400 !important;
  }

  &_edu-logo,
  &_comm-logo {
    font-weight: 300 !important;
  }

  &_sign,
  &_login {
    @include btn-style;

    &:hover {
      svg rect {
        stroke-width: 4;
        stroke-dasharray: 196, 543;
        stroke-dashoffset: 437;
      }
    }
  }
}

.tw {
  margin-top: 10px;
  color: #fff;
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
