.UserCard {
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 10px;
  background-color: #fff;

  &_bg {
    min-height: 70px;
    background-color: $main-darkred;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &_wrapper {
    display: flex;

    &_avatar {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: -40px;
      width: 80px;
      height: 80px;
      @include avatar-style;
    }

    &_info {
      display: flex;
      flex-direction: column;

      margin-top: 5px;

      &_name {
        color: black;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none !important;

        &:hover {
          color: $alter-purple;
        }
      }

      &_nickname {
        color: $main-grey;
        font-size: 12px;
        text-decoration: none !important;

        &:hover {
          color: $alter-purple;
        }
      }
    }
  }

  &_group {
    display: flex;
    align-items: center;
    min-height: 50px;

    margin: 10px auto;

    &_info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      flex-basis: 10%;
      height: 100%;

      text-decoration: none !important;

      &_title {
        font-size: 12px;
        font-weight: bold;
        color: $main-grey;
      }

      &_quantity {
        font-size: 18px;
        font-weight: bold;
        color: $alter-purple;
      }

      &:hover {
        cursor: pointer;
        box-shadow: inset 0 -4px 0 0 $alter-purple;
      }
    }
  }
}