.Post {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 10px;

  &_user {
    margin: 5px;

    &_avatar {
      width: 70px;
      height: 70px;
      margin-right: 8px;
      @include avatar-style;

      @media (max-width: 436px) {
        width: 50px;
        height: 50px;
      }
    }

    &_link {
      font-size: 14px;
      color: $main-grey;
      text-decoration: none !important;
      margin: 0 5px;

      @media (max-width: 436px) {
        font-size: 12px;
      }

      &_name {
        color: #000;
        font-weight: bold;
      }

      &:hover {
        color: $alter-purple;
      }
    }

    &_text,
    &_image,
    &_like {
      padding-left: 5px;
    }

    &_like_quantity {
      font-weight: bold;
    }
  }

  &_opt {
    @media (max-width: 436px) {
      position: absolute;
      right: -5%;
      margin-left: 0 !important;
    }
  }

  &_opt:hover,
  &_close-modal:hover{
    color: $main-darkred;
  }
}

.modal-content {
  border-radius: 10px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  border-top: none;
}
