.MainButton {
  border: none;
  border-radius: 25px;
  background-color: $main-darkred;

  color: #ffffff;
  font-weight: 500;

  &:hover:not([disabled]) {
    color: $alter-purple;
    border: 2px solid $alter-purple;
    background-color: #ffffff;
  }

  &:disabled {
    background-color: $main-grey;
  }
}