.UserProfile {
  min-height: 100vh;
  background-color: $main-bg-color;
}

.user-tabs {
  background-color: #ffffff;
  box-shadow: 0 0 3px 1px #999999;

  &__group {
    display: flex;
    align-items: center;
    min-height: 50px;

    margin: 10px auto;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex-basis: 10%;
    height: 100%;

    margin-right: 10px;

    text-decoration: none !important;

    &:hover {
      cursor: pointer;
      box-shadow: inset 0 -4px 0 0 $alter-purple;
    }
  }

  &__title {
    font-size: 12px;
    font-weight: bold;
    color: $main-grey;
  }

  &__quantity {
    font-size: 18px;
    font-weight: bold;
    color: $alter-purple;
  }
}

.tabs-wrapper {
  position: relative;
}

.tabs {
  background-color: #ffffff;
  box-shadow: 0 0 3px 1px #999999;

  &__wrapper {
    display: flex;
    align-items: center;
    min-height: 50px;
  }

  &__group {
    display: flex;
    align-items: center;

    position: absolute;
    top: -63px;
    min-height: 50px;

    @media (max-width: 991px) {
      top: -239px;
      left: 180px;
    }

    @media (max-width: 767px) {
      top: -255px;
      left: 160px;
    }

    @media (max-width: 575px) {
      margin-left: 0 !important;
      top: -193px;
      left: 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 70px;
    height: 100%;
    margin-right: 10px;

    border: none !important;
    background: transparent !important;
    outline: none !important;

    @media (max-width: 767px) {
      min-width: 55px;
    }

    &:hover {
      cursor: pointer;
      box-shadow: inset 0 -4px 0 0 $alter-purple;
    }

    &:focus {
      outline: none !important;
      box-shadow: inset 0 -4px 0 0 $alter-purple;
    }

    &--active {
      box-shadow: inset 0 -4px 0 0 $alter-purple;

      .tabs__quantity {
        color: $alter-purple;
      }
    }
  }

  &__title {
    font-size: 12px;
    font-weight: bold;
    color: $main-grey;
  }

  &__quantity {
    font-size: 18px;
    font-weight: bold;
    color: $main-grey;
  }

  &__edit {
    font-size: 14px;
    font-weight: bold;
    color: $main-grey;
    text-decoration: none !important;
    z-index: 100 !important;

    &:hover {
      color: $alter-purple;
    }
  }
}

.user-card-wrapper {
  display: flex;
}

.user-card {
  margin-bottom: 10px;

  &__bg {
    min-height: 70px;
    background-color: $main-darkred;
  }

  &__photo {
    display: block;
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -40px;

    border-radius: 50%;
    border: 3px solid #ffffff;
    background-color: $main-grey;
    background-image: url("../../../public/img/icons/user-icon.svg");
    background-size: 85% 85%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__info {
    display: flex;
    flex-direction: column;

    margin-top: 5px;
  }

  &__name {
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none !important;

    &:hover {
      color: $alter-purple;
    }
  }

  &__nickname {
    color: $main-grey;
    font-size: 12px;
    text-decoration: none !important;

    &:hover {
      color: $alter-purple;
    }
  }

  &__your {
    margin-left: 10px;
    padding: 0 5px;
    font-size: 12px;
    background-color: #dcdcdc;
  }
}

.user-photo {
  display: block;
  width: 200px;
  height: 200px;

  box-sizing: border-box;
  border: 5px solid #ffffff;
  border-radius: 50%;
  background-color: $main-grey;
  background-image: url("../../../public/img/icons/user-icon.svg");
  background-size: 85% 85%;
  background-repeat: no-repeat;
  background-position: center;

  margin-top: -60%;

  @media (max-width: 991px) {
    width: 170px;
    height: 170px;

    margin-top: -20%;
  }

  @media (max-width: 767px) {
    margin-top: -25%;
  }

  @media (max-width: 575px) {
    width: 130px;
    height: 130px;

    margin-top: -210px;
  }
}

.user-info {
  background-color: transparent;
  border: none;

  @media (max-width: 575px) {
    margin-top: 60px;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    color: #333333;
  }

  &__subtitle{
    color: #999999 !important;
  }

  &__text {
    color: #000000;
  }
}

.upload-avatar {
  width: 100%;
  min-width: 160px;
  position: relative;
  text-align: center;

  &__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    &:focus + label {
      box-sizing: border-box;
      box-shadow: inset 0 0 0 2px $alter-purple;
      outline: none !important;
    }
  }

  &__label {
    width: 100%;
    min-height: 25px;
    box-sizing: border-box;

    background: $main-darkred;
    color: #fff;
    font-size: 14px;
    font-weight: bold;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;

    border-radius: 3px;
    cursor: pointer;
    margin: 0;
    padding: 5px 0;

    &:hover {
      background: $alter-purple;
    }
  }

  &__label-button-text {
    width: 100%;
    line-height: 1;
    margin-top: 1px;
  }

  &__label-icon-wrapper {
    min-height: 25px;
    width: 40px;
    margin-right: 5px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    border-right: 1px solid #fff;
  }

  &__submit {
    width: 100%;
    min-height: 30px;

    background: $alter-purple;
    color: #fff;
    font-size: 14px;
    font-weight: bold;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;

    border: none !important;
    border-radius: 3px;
    cursor: pointer;
    margin: 0;

    &:hover {
      background: $main-darkred;
    }
  }
}

.no-tweets,
.no-following,
.no-followers {
  text-align: center !important;
}

.tabs__group--another {
  @media (max-width: 991px) {
    top: -204px;
  }

  @media (max-width: 767px) {
    top: -220px;
    left: 215px;

    max-width: 220px !important;
  }

  @media (max-width: 575px) {
    margin-left: 0 !important;
    top: -158px;
    left: 15%;
  }
}