.RecommendUser {
  height: 80px;

  &_avatar {
    height: 60px;
    width: 60px;

    @include avatar-style;

    &_link {
      height: 40px;
    }
  }

  &_info {
    width: 100%;


    &_name,
    &_username {
      font-size: 12px;
      font-weight: bold;
    }

    &_name:hover,
    &_username:hover {
      text-decoration: none;
      color: $alter-purple;
    }

    &_name {
      color: black;
    }

    &_username {
      color: $main-grey;
    }

    &_btn {
      font-size: 12px;
    }
  }

  &_close {
    color: $main-grey;
  }

  &_close:hover {
    color: $main-darkred;
    cursor: pointer;
  }
}

.RecommendUser-card__btn {
  width: 90px;
  height: 25px;

  font-size: 10px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;

  background-color: $main-darkred;
  border: 1px solid #e3e9ee;
  border-radius: 15px;

  &:hover {
    border: 2px solid $main-darkred;
    background-color: #ffffff;

    color: $main-darkred;
  }
}

.RecommendUser-card__btn--unfollow {
  background-color: white;
  color: $main-darkred;
  border: 2px solid $main-darkred;

  &:hover {
    background-color: $main-darkred;
    color: #ffffff;
  }
}