.right-sidebar {
  &__follow {
    box-sizing: border-box;
    border: 1px solid #d8e2e8;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: #ffffff;
  }

  &__title {
    font-size: 16px;
    color: #292f33;
    font-weight: bold;
  }

  &__link {
    font-size: 12px;
    color: $main-darkred;
    text-decoration: none !important;
  }

  @media (max-width: 1023px) {
    display: none;
  }
}