.header-home {
  min-height: 50px;
  background: none;
}

.header {
  min-height: 240px;
  background: $main-darkred;
}

.header__nav {
  background-color: #ffffff;

  box-shadow: 0 2px 3px 0 #999999;
}

.navbar-wrapper {
  position: relative;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.nav-link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 767px) {
    margin: 10px 0 !important;
    justify-content: space-around !important;
  }

}

.header__home {
  &:hover {
    color: $alter-purple !important;
  }
}

.header__logo {
  position: absolute;
  left: 45%;

  @media (max-width: 991px) {
    display: none;
  }
}

.header__form {
  position: relative;

  max-width: 212px;

  @media (max-width: 767px) {
    margin: 0 auto !important;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;

    position: absolute;
    left: 85%;

    background-image: url("../../../public/img/icons/search-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.header__logout {
  color: $main-grey;
  font-weight: 500;

  @media (max-width: 767px) {
    margin: 0 !important;
  }

  &:hover {
    color: $main-darkred;
  }
}

.header__search {
  border-radius: 20px;
  background-color: #ffffff;
  width: 221px !important;

  &::placeholder {
    color: #a7a7a7;
  }

  &:focus {
    z-index: 10;
  }
}