.copyright {
  border-radius: 10px;

  &__year {
    color: $main-grey;
    font-size: 12px;
    font-weight: 500;
  }

  &__link {
    a {
      color: $main-darkred;
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        color: $alter-purple;
      }
    }
  }
}