.following-tab-wrapper {
  @media (max-width: 580px) {
    justify-content: center !important;
  }
}

.following-card-wrapper {
  display: flex;
}

.following-card {
  width: 49%;
  margin-bottom: 10px;
  border-radius: 10px !important;

  @media (max-width: 580px) {
    width: 80%;
  }

  &__bg {
    min-height: 70px;
    background-color: $main-darkred;
    border-radius: 10px 10px 0 0;
  }

  &__photo {
    display: block;
    width: 65px;
    height: 65px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -30px;

    border-radius: 50%;
    border: 3px solid #ffffff;
    background-color: $main-grey;
    background-image: url("../../../public/img/icons/user-icon.svg");
    background-size: 85% 85%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    min-height: 90px;
  }

  &__name {
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none !important;

    &:hover {
      color: $main-darkred;
    }
  }

  &__nickname {
    color: $main-grey;
    font-size: 12px;
    text-decoration: none !important;

    &:hover {
      color: $main-darkred;
    }
  }

  &__your {
    margin-left: 10px;
    padding: 0 5px;
    font-size: 12px;
    background-color: #dcdcdc;
  }

  &__btn {
    width: 90px;
    height: 25px;
    margin-top: 10px;

    font-size: 10px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;

    background-color: $main-darkred;
    border: 1px solid #e3e9ee;
    border-radius: 15px;

    &:hover {
      border: 2px solid $main-darkred;
      background-color: #ffffff;

      color: $main-darkred;
    }
  }
}

.following-card__btn--unfollow {
  background-color: white;
  color: $main-darkred;
  border: 2px solid $main-darkred;

  &:hover {
    background-color: $main-darkred;
    color: #ffffff;
  }
}