.Form {
  background-color: $main-bg-color;
  border-radius: 15px;
  padding: 10px;

  &_title {
    font-size: 24px;
    font-weight: 500;
  }

  &_input {
    border: none;
    border-bottom: 2px solid #d1d1d1;
    font-size: 14px;
    padding: 5px 10px;
    margin: 15px 5px 0 0;
    width: 100%;

    &:focus {
      border-bottom: 2px solid $alter-purple;
      outline: none !important;
    }
  }

  &_textarea {
    resize: none;
  }

  &_submit {
    width: 85px;
    height: 30px;
    text-transform: uppercase;

    border: none;
    border-radius: 14px;
    background-color: $main-darkred;
    color: white;

    &:hover {
      color: $alter-purple;
      border: 2px solid $alter-purple;
      background-color:$main-bg-color;
    }
  }

  &_footer {
    padding: 10px 0;
    background-color: #e3405f8c;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    &_text {
      font-size: 15px;
      font-weight: bold;
      padding-left: 30px;
      &_link {
        color: inherit;
        &:hover {
          color: $alter-purple;
          text-decoration: none;
        }
      }
    }
  }

  &_alert {
    width: 100%;
  }
}

.react-datepicker-wrapper {
  width: 100%;
}

.error {
  font-weight: bold;
  color: $main-darkred;
}

.success-signup {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  border: 2px solid #1ee232;
  margin-bottom: 20px !important;
  padding: 20px !important;

  color: #ffffff;
  font-size: 16px !important;

  p {
    margin: 0 !important;
    padding: 0 !important;

    text-align: center !important;
  }
}